.col-md-2{
  display: inline-block;
  // margin-left:-4px;
}
.col-md-2 img{
  width:100%;
  height:auto;
}
 .carousel-indicators li{
  background-color:chocolate;
}
 .carousel-indicators{
  bottom: 0;
  position:sticky;
}
 .carousel-control-prev-icon,
 .carousel-control-next-icon{
  background-color:chocolate;

}
 .no-padding{
  padding-left: 0;
  padding-right: 0;
   }
