<div class="row">
 <ng-template #popularContainer>
  <div id="demo" class="carousel slide col-sm-12" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2" *ngFor="let item of higherRatedList|slice:0:6">
            <!-- <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg"> -->
            <app-product-card-design [product]="item"></app-product-card-design>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2" *ngFor="let item of higherRatedList|slice:7:13">
            <app-product-card-design [product]="item"></app-product-card-design>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2" *ngFor="let item of higherRatedList|slice:13:19">
            <app-product-card-design [product]="item"></app-product-card-design>
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
 </ng-template>
 <ng-template #spinner>
  <div class="container d-flex justify-content-center align-items-center">
    <app-spinner></app-spinner>
  </div>
 </ng-template>
 
 <ng-container *ngIf="loading then popularContainer;else spinner"></ng-container>
 
</div>
