<!-- <button (click)="addToCart()">Add To Cart</button> -->
<div class="row border border-left-0 border-right-0 border-top-0 mb-3 p-2">
  <div class="col">
    <h4>Carts List ({{cartsList.length}})</h4>
  </div>
</div>
<div class="row  mb-2">
  <div class="card col-sm-12 col-md-8">
    <div class="card-body row">
      <div class="col-sm-4">
        <img src="" class="w-50" onerror="this.onerror=null; this.src='../../../../assets/img/5.jpg'" alt="product Img" >
      </div>
      <div class="col-sm-6">
        <p class="card-title">Product Name</p>
        <p class="card-text">Price:Product Price EGP</p>
        <div class="btn-group btn-group-lg shadow-sm">
          <button type="button" class="btn" [disabled]="qty===1" [class]="qty===1?'btn-light':''" (click)="counterForQty('-')" >
            <strong>-</strong>
          </button>
          <button type="button" class="btn">{{qty}}</button>
          <button type="button" class="btn" (click)="counterForQty('+')">
            <strong>+</strong>
          </button>
        </div>
      </div>
   </div>
  </div>
</div>
