<!-- <div class="container-fluid bg-dark">
  <div class="row">
    <nav class="navbar col-md-10 navbar-expand-sm">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="nav-link"><i class="fas fa-bars"></i>All</button>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link" (click)="navigate(category.router)"
            routerLinkActive="router-link-active">{{category.cateName}}</a>
        </li>
      </ul>
    </nav>
    <div class="col-md-2 text">
      <p>{{'end of year sale'|uppercase}}</p>
    </div>
  </div>
</div> -->


<div class="container-fluid">
  <nav class="navbar row navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav float-left">
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link" (click)="navigate(category.router)"
            routerLinkActive="router-link-active">{{category.cateName}}</a>
        </li>
      </ul>
      <ul class="navbar-nav float-right">
        <li class="nav-item ">
          <a class="nav-link advs-text">{{'end of year sale'|uppercase}}</a>
          <!-- <p></p> -->
        </li>
      </ul>
    </div>
  </nav>
  <!-- </div> -->
</div>