.navbar{
  background-color: rgb(12, 19, 29);
  padding-top: -15;
  padding-bottom: -15;
}
.nav-item{
  a
  {
   color: white;
   font-weight: 0.1rem;
  }
}
button{
  border:none;
  outline:none;
  background-color: transparent;
  color: white;
}
