<!-- <div class="container mt-5" class="carousel slide" data-ride="carousel">
  <div class="row carousel-inner">
    <div class="col-md-1 btn">
      <button class=" btn-default shadow-lg left-btn" (click)="leftClick()"> < </button>
    </div>
    <div class="col-md-10 content" >
      <div class="row">
        <div class="col-sm-3" *ngFor="let item of mediator">
          <img class="img-thumbnail"  [src]="item.img" width="200" height="150">
          <h5>{{item.stock}}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-1 btn">
      <button class="btn-default shadow-lg" (click)="rightClick()">
        >
      </button>
    </div>
  </div>
</div> -->


<div class="container">
  <p-carousel [value]="list"
    [numVisible]="4"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="3000" 
    [showIndicators]="false"
    [showNavigators]="false">
    [circular]="true"
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <app-secondary-card [product]="product"></app-secondary-card>
      </div>
    </ng-template>

  </p-carousel>

</div>

