@media only screen and (max-width: 576px) {
 .all
   {
    display: none;
  }
}
.carousel {
  height: fit-content;
}

.sort-menu{
  display: flex;
  justify-content: right;
  // background-color: transparent !important;

}
ul {
  list-style-type: none;
  a {
    text-decoration: chocolate;
  }
}
.row2 {
  // border-top: 0.08rem solid gray;
  // border-top: 1px solid rgb(211, 207, 207);
  min-height: 15rem;
}

.navbar-nav {
  margin-top: 15px;
  h6 {
    text-decoration: underline;
  }
}
.nav-link {
  display: block;
  padding: 0rem;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  font-size: 0.8rem;
}
.nav-link:hover {
  cursor: pointer;
  color: chocolate;
  text-decoration: chocolate;
}
.average-nav {
  .nav-item {
    display: flex;
    flex-direction: row;
  }
}

.col-sm-9 {
  .row {
    min-height: fit-content;
    display: flex;
    justify-content: center;
  }
  .container-fluid {
    height: 100%;
  }
}
.spinner {
  height: 100%;
  width: 100%;
}
label {
  font-size: 0.8rem;
  font-weight: 2rem;
}





.pagination {
  position: absolute;
}
// ::ng-deep .ngx-pagination > ul > li:not(.active) > a {
//   background-color: chocolate !important;
//   border-color: chocolate !important;
// }

// ::ng-deep ul > li.disabled > span {
//   background-color: brown !important;
//   border-color: black !important;
// }

// ::ng-deep .ngx-pagination > ul > li.active > a {
//   background-color:chocolate !important;
//   border-color: chocolate !important;

// }
