<div class="container-fluid">
  <!-- carousel -->
  <div class="row carousel">
    <div class="col-sm-12">
      <app-carousel></app-carousel>
      <!-- <app-swipper></app-swipper> -->
    </div>
  </div>
  <!-- products pagination & filteration -->
  <div class="row row2 border border-left-0 border-right-0 border-bottom-0">
    <div class="col-sm-3 col-md-3 side-filter">
      <nav class="navbar bg-light">
        <ul class="navbar-nav main-nav">
          <li class="nav-item all">
            <h6><a (click)="getAllProducts()">All Deals </a></h6>
          </li>

          <!-- filter by category -->
          <li class="nav-item">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h6>Categories</h6>
              </li>
              <li class="nav-item">
                <div class="category">
                  <form [formGroup]="checkboxForm">
                    <div class="form-check" *ngFor="let cate of allCategories">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" [value]="cate.name" formControlName="checkbox"
                          (change)="onCheckChange($event)">
                        {{cate.name}}
                      </label>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </li>
          <!-- filter by category -->
          <li class="nav-item">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h6>Categories</h6>
              </li>
              <li class="nav-item">
                <div class="category">
                  <form [formGroup]="checkboxForm">
                    <div class="form-check" *ngFor="let cate of allCategories">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" [value]="cate.name" formControlName="checkbox"
                          (change)="onCheckChange($event)">
                        {{cate.name}}
                      </label>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </li>
          <!-- filter by price -->
          <li class="nav-item">
            <ul class="navbar-nav">
              <li>
                <h6>Price</h6>
              </li>
              <li class="nav-item"> <a class="nav-link" (click)="filterPrice(1,400,$event)">Under EGP400</a> </li>
              <li class="nav-item"> <a class="nav-link" (click)="filterPrice(400,800,$event)">EGP400 to EGP800</a></li>
              <li class="nav-item"> <a class="nav-link" (click)="filterPrice(800,1200,$event)">EGP800 to EGP1,200</a>
              </li>
              <li class="nav-item"> <a class="nav-link" (click)="filterPrice(1200,1600,$event)">EGP1,200 to EGP1,600</a>
              </li>
              <li class="nav-item"> <a class="nav-link" (click)="filterPrice(1600,1000000,$event)">EGP1,600 & above</a>
              </li>
            </ul>
          </li>
          <!-- filter by discount -->
          <li class="nav-item">
            <ul class="navbar-nav">
              <div class="discount">
                <h6>Discount</h6>
              </div>
              <li class="nav-item"> <a class="nav-link" (click)="filterDiscount(10)">10% off or more</a></li>
              <li class="nav-item"> <a class="nav-link" (click)="filterDiscount(20)">20% off or more</a></li>
              <li class="nav-item"> <a class="nav-link" (click)="filterDiscount(30)">30% off or more</a></li>
              <li class="nav-item"> <a class="nav-link" (click)="filterDiscount(50)">50% off or more</a></li>

            </ul>
          </li>
          <!-- filter by average -->
          <li class="nav-item">
            <ul class="navbar-nav average-nav">
              <div class="average">
                <h6>Average customer review</h6>
              </div>
              <li class="nav-item">
                <app-rating [value]="4" [color]="'chocolate'"></app-rating>
                <a class="nav-link" (click)="filterRating(4)">& up</a>
              </li>
              <li class="nav-item">
                <app-rating [value]="3" [color]="'chocolate'"></app-rating>
                <a class="nav-link" (click)="filterRating(3)">& up</a>
              </li>
              <li class="nav-item">
                <app-rating [value]="2" [color]="'chocolate'"></app-rating>
                <a class="nav-link" (click)="filterRating(2)">& up</a>
              </li>
              <li class="nav-item">
                <app-rating [value]="1" [color]="'chocolate'"></app-rating>
                <a class="nav-link" (click)="filterRating(1)">& up</a>
              </li>
              <li class="nav-item"></li>
            </ul>
          </li>
        </ul>
      </nav>

    </div>
    <!-- show products cards -->
    <div class="col-sm-12 col-md-9">
      <div class="container-fluid">
        <!-- product template -->
        <div class="row sort-menu pt-3">
          <div class="col-sm-3 ">
            <div class="form-group ">
              <select class="custom-select" (change)="sortBy($event)">
                <option selected value="">
                  Sort By
                </option>
                <option *ngFor="let field of sortArr">
                  {{field}}
                </option>
              </select>
              <!-- {{sortFiled}} -->
            </div>

          </div>
        </div>

        <ng-template #products>

          <div class="row pt-3">
            <div class="col-sm-6 col-md-4 item-container mt-2" *ngFor="let item of productsList|sort:[sortFiled,'desc']|paginate : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };let i = index">
              <app-main-card [product]="item"></app-main-card>
            </div>
          </div>

          <!-- pagination -->
          <div class="row pagination">
            <div class="mt-4 mx-auto">
              <pagination-controls (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>
          </div>

        </ng-template>

        <!-- spinner template -->
        <ng-template #spinner>
          <div class="row mx-auto">
            <div class="container d-flex justify-content-center align-items-center p-5">
              <app-spinner></app-spinner>

            </div>
          </div>
        </ng-template>
        <ng-container *ngIf="productsList.length!=0 then products; else spinner"></ng-container>
      </div>
    </div>

  </div>
  <!-- higher rated products -->
  <div class="container-fluid p-4 border border-left-0 border-right-0 mt-3 mb-3 rating-container">
    <h3>Higher Rating Products </h3>
    <app-swipper [list]="higherRatingList"></app-swipper>
  </div>
</div>