.carousel {
  height: fit-content;
}

ul {
  list-style-type: none;
  a {
    text-decoration: chocolate;
  }
}
.row2 {
  // border-top: 0.08rem solid gray;
  border-top: 1px solid rgb(211, 207, 207);
  min-height: 15rem;

}

.side-filter {
  // border-top: 1px solid rgb(211, 207, 207);
  .category, .price,.discount,.average ,.all{
    margin-top: 15px;
  }
  div{
    display: flex;
    flex-direction: column;
    flex-flow: column;

    h6{
      font-size: 0.9rem;
    }
    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        font-size: 0.8rem;
    }
    a:hover{
      cursor: pointer;
      color: chocolate;
      text-decoration: chocolate;
    }
  }
  i{
    color: chocolate;
  }
  .average{
    .rate{
      display: flex;
      flex-flow: row;
    }
  }
}
.col-sm-9 {
  .row {
    min-height: fit-content;
    display: flex;
    justify-content: center;
  }
  .container-fluid{
    height: 100%;
  }

}
.spinner{
  height: 100%;
  width: 100%;
}
label {
  font-size: 0.8rem;
  font-weight: 2rem;
}


// .ngx-pagination .current {
//   padding: 0.1875rem 0.625rem;
//   color: #fefefe;
//   cursor: default;
//   background: chocolate;
// }

.rating-container{
  border-top: 1px solid rgb(211, 207, 207);
  margin: 80px -5px 50px -5px ;
  padding: 15px;
  h3{
    margin: 10px;
  }

}

.pagination
{
  position: absolute;
}
// ::ng-deep .ngx-pagination > ul > li:not(.active) > a {
//   background-color: chocolate !important;
//   border-color: chocolate !important;
// }

// ::ng-deep ul > li.disabled > span {
//   background-color: brown !important;
//   border-color: black !important;
// }

// ::ng-deep .ngx-pagination > ul > li.active > a {
//   background-color:chocolate !important;
//   border-color: chocolate !important;

// }




