<div class="container-fluid">
  <div class="row carousel">
    <div class="col-sm-12">
      <app-carousel></app-carousel>
    </div>
  </div>
  <div class="row row2">
    <div class="col-sm-2">
      <h6>Categories</h6>
      <form  [formGroup]="checkboxForm">
        <div class="form-check" *ngFor="let cate of allCategories">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [value]="cate.name"
             formControlName="checkbox" (change)="onCheckChange($event)">
            {{cate.name}}
          </label>
        </div>
        {{checkboxForm.value|json}}
      </form>
      
    </div>
    <div class="col-sm-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-md-3" *ngFor="let item of productsList">
            <div class="card" style="height:fit-content">
              <img class="card-img-top" [src]="item.image[0]"  alt="Card image cap">
              <div class="card-body">
                <p class="card-title">{{item.name|slice:0:50}}</p>
                <p class="card-text">{{item.price}}</p>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
