<div class="container-fluid">
  <!-- carousel -->
  <div class="row carousel">
    <div class="col-sm-12">
      <app-carousel></app-carousel>
    </div>
  </div>
  <!-- products pagination & filteration -->
  <div class="row row2">
    <div class="col-sm-3">

      <!-- filter by category -->
      <div class="category">
        <h6>Categories</h6>
        <form [formGroup]="checkboxForm">
          <div class="form-check" *ngFor="let cate of allCategories">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [value]="cate.name" formControlName="checkbox"
                (change)="onCheckChange($event)">
              {{cate.name}}
            </label>
          </div>
          {{checkboxForm.value|json}}
        </form>
      </div>

      <!-- filter by price -->
      <div class="price">
        <h6>Price</h6>
        <a>Under EGP400</a>
        <a>EGP400 to EGP800</a>
        <a>EGP800 to EGP1,200</a>
        <a>EGP1,200 to EGP1,600</a>
        <a>EGP1,600 & above</a>
      </div>
      <!-- filter by discount -->
      <div class="discount">
        <h6>Discount</h6>
        <a>10% off or more</a>
        <a>20% off or more</a>
        <a>30% off or more</a>
        <a>50% off or more</a>
      </div>
      <!-- filter by average -->
      <div class="average">
        <h6>Average customer review</h6>
        <div class="rate"> <app-rating  [value]="4" [color]="'chocolate'"></app-rating><a>& up</a></div>
        <div class="rate"> <app-rating  [value]="3" [color]="'chocolate'"></app-rating><a>& up</a></div>
        <div class="rate"> <app-rating  [value]="2" [color]="'chocolate'"></app-rating><a>& up</a></div>
        <div class="rate"> <app-rating  [value]="1" [color]="'chocolate'"></app-rating><a>& up</a></div>
        

      </div>

    </div>
    <!-- show products cards -->
    <div class="col-sm-9">
      <div class="container-fluid">
        <!-- product template -->
        <ng-template #products>
          <div class="row">
            <div class="col-sm-6 col-md-4 item-container" *ngFor="let item of productsList | paginate : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
           let i = index">
              <app-product-card [product]="item"></app-product-card>
            </div>
          </div>

          <div class="row">
            <!-- pagination -->
            <div class="d-flex justify-content-center mx-auto">
              <pagination-controls  (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>
          </div>
        </ng-template>

        <!-- spinner template -->
        <ng-template #spinner>
          <div class="row" id="spinner">
            <app-spinner></app-spinner>
          </div>
        </ng-template>
        <ng-container *ngIf="productsList.length!=0 then products; else spinner"></ng-container>
      </div>
    </div>

  </div>
  <!-- higher rated products -->
  <div class="container-fluid rating-container">
    <h3>Higher Rating Product </h3>
    
      <app-popular></app-popular>
    
  </div>
</div>