
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <h2>Today's Deals</h2>
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <div class="category-container">
        <div class="items-container" *ngFor="let item of allDeals">
          <div>
            <img [src]="item.icon" alt="">
            <h6>{{item.label}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="category-container">
        <div class="items-container" *ngFor="let item of remainderDeals">
         <div>
          <img [src]="item.icon" alt="">
          <h6>{{item.label}}</h6>
         </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>