.divCountry, .divNumber,.btnCountry{
  padding: 0%;
}
input:focus{
  box-shadow: 0 0 10px chocolate;
  border-color: chocolate;
}
.btnCountry{
  background-color: rgb(241, 236, 236);
  font-size: small;
}
.a-Email
{
  font-size: small;
}
i, p{
  font-size: small;
} 
i{
  inset-inline: 3px 10px;
}
.btn-continue
{
  background-color: chocolate;
  background-size: 10%;
  border: 0.1px solid gray;
}
.iconHelp{
  color: gray;
}
.btnCreateAccount{
  background-color: rgb(241, 236, 236);
  border: 0.1px solid gray;
}
.row-Footer-Card{
  background-image: linear-gradient(rgb(245, 245, 245), white);
  margin-top:10% ;
  margin-left:1%;
  font-size: small;
}
