<!-- carousel -->
<div class="row">
  
  <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://m.media-amazon.com/images/I/71AbTotSBxL._SX3000_.jpg" class=" w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/I/61Ypo7Ph1kL._SX3000_.jpg" class=" w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/I/617cBk0q+xL._SX3000_.jpg" class=" w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/I/614HlMBnMtL._SX3000_.jpg" class=" w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/I/61Bu4h-VnJL._SX3000_.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

</div>
<div class="row mt-2">
  <div class="container mb-3 bg-light" *ngFor="let cate of allCateList; let i=index">
    <div class="row bg-dark">
        <h3 class="title col-sm-12 text-center"><a>{{cate.name|titlecase}}</a></h3>
    </div>
    <app-sub-category [cateId]="i"></app-sub-category>
  </div>
</div>