// sm-->576px;
// md-->768px;
// lg-->992px;
@media only screen and (max-width: 991px) {
    .carousel-caption {
      display: none;
    }
  }
  @media only screen and (min-width: 992px) {
    .cate-container {
      display: none;
    }
  }
  
  .cate-name {
    // margin-bottom:2rem ;
    margin: 0px 0px 25px 0px;
  }
  
  .carousel-caption {
    text-align: start;
  }
  .cate-name a:hover {
    text-decoration: none;
    color: white;
  }
  