/* You can add global styles to this file, and also import other style files */
$main-color: chocolate;
$text-color: #fff;
// body {
// background-color: red;
// font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
// }
// p {
// font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
// }
.title {
  font-style: italic;
  line-height: 1.7em;
  text-shadow: 2px 5px 5px black;
  color: chocolate;
}

