<div class="container-fluid">

  <header>
    <div class="row head align-items-center">
      <div class="col-md-7 col-lg-8 ">
        <div class="row no-gutters align-items-center">
          <div class="col-md-2 logo col-3">
            <a class="navbar-brand" routerLink="/">
              
              <img src="../../../../assets/icons/logo_black.jpg" alt="amazon" style="width: 80%; height: 100%" />
            </a>
          </div>
          <!-- search input -->
          <div class="col-md-10 col-9 ">
            <div class="row form-group ">
              <input type="text" class="form-control col-11" #search placeholder="what are you looking for?" />
              <button type="submit" class="col-1 search-btn"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- dropdown menus -->
      <div class="col-md-5 col-lg-4 ">
        <div class="row no-gutters align-items-center">
          <!-- language menu -->
          <div class="col d-flex justify-content-center">
            <span class="dropdown">
              <a class=" dropdown-toggle item  " id="dropdownMenu1" data-toggle="dropdown">
                Language
              </a>
              <ul class="dropdown-menu dropdown-content">
                <li><a class="dropdown-item">UAE</a></li>
                <li><a class="dropdown-item">KSA</a></li>
                <li><a class="dropdown-item">EGYPT</a></li>
              </ul>
            </span>
          </div>
          <div class="col d-flex justify-content-center">
            <span class="dropdown">
              <a class="dropdown-toggle item" data-toggle="dropdown" href="#">
                Hello, Sign in <i class="far fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-content">
                <div class="menu_btn_container">
                  <button>Sign In</button>
                  <p>New Customer? <a>Start here</a></p>
                  <hr>
                  <div class="container">
                    <div class="row">
                      <div class="col-6">
                        <b>Your Lists</b>
                        <a href="">Create List</a>
                      </div>
                      <div class="col-6">
                        <b>Your Account</b>
                        <a href="">Your Account</a>
                        <a href="">Your Orders</a>
                        <a href="">Your Addresses</a>
                        <a href="">Your Lists</a>
                        <a href="">Your Recommendations</a>
                        <a href="">Your Seller Account</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </span>
          </div>

          <div class="col order d-flex justify-content-center">
            <a class=" item">Orders</a>
          </div>

          <!-- cart -->
          <div class="col d-flex justify-content-center">
           <div class="cart">
            <button class="cart-icon">
              <div class="cart-count"><span>0</span></div>
              <i class="fas fa-shopping-cart  icon"></i>
            </button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>