/* The heart of the matter */
.testimonial-group {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .col-3 {
  display: inline-block;
}
 .btn{
   color: chocolate;
   &:hover{
     color: white;
   }
 }
